#card{
    margin: 2%;
    border-radius: 0%;
}
.table-bordered {
    border: 1px solid #000; /* You can adjust the border style and color as needed */
  }
  table{
    height: 100px !important;
  }
  thead{
    height: 35px!important;
    background-color: #003b9a;
  }
.coloumn{
  width: 30px !important;
}
.card-footer{
  text-align: right;
}
th{
  padding: 0 20px 5px 20px;
  text-align: center;
}
.table-container {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}