<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style=" background-color: lightblue;">
            Sahayak Master
            <a  [routerLink]="['/entity/sahayak']"><i class="fa fa-plus"
                    style="float: right;margin: 3px;font-size: larger;"> </i></a>
            <a  [routerLink]="['/entity/sahayak/sahayak-list']"><i class="fa fa-search"
                    style=" float: right;margin: 3px;font-size: larger;"> </i></a>
        </div>
        <form [formGroup]="createForm" (ngSubmit)="Create()">
            <div class="row">
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="company_code" class="mt-2 wd-10 required">Select Company</label>
                    <select class="form-dropdown mt-2" (change)="PlantDropDown()" disabled>
                        <!-- <option value="" selected>Select Company</option> -->
                        <option *ngFor="let text of this.companyDropDown" [ngValue]="text.value" selected>
                            {{text.text}}
                        </option>
                    </select>
                    <!-- <select class="form-dropdown mt-2" formControlName="company_code"
                        [ngClass]="{'is-invalid' : createForm.get('company_code')?.invalid && createForm.get('company_code')?.touched}"
                        (change)="PlantDropDown()">
                        <option value="" selected>Select Company</option>
                        <option *ngFor="let text of this.companyDropDown" [ngValue]="text.value">
                            {{text.text}}
                        </option>
                    </select> -->
                    <div class="invalid-feedback">Please select company name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="plant_code" class="mt-2 wd-10 required">Select Plant</label>
                    <select class="form-dropdown mt-2" (change)="MCCDropDown()" disabled>
                        <!-- <option value="" selected>Select Plant</option> -->
                        <option *ngFor="let text of this.plantDropDown" [ngValue]="text.value" selected>
                            {{text.text}}
                        </option>
                    </select>
                    <!-- <select class="form-dropdown mt-2" formControlName="plant_code"
                        [ngClass]="{'is-invalid' : createForm.get('plant_code')?.invalid && createForm.get('plant_code')?.touched}"
                        (change)="MCCDropDown()">
                        <option value="" selected>Select Plant</option>
                        <option *ngFor="let text of this.plantDropDown" [ngValue]="text.value">
                            {{text.text}}
                        </option>
                    </select> -->
                    <div class="invalid-feedback">Please select plant name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="mcc_code" class="mt-2 wd-10 required">Select MCC</label>
                    <select class="form-dropdown mt-2" formControlName="mcc_code"
                        [ngClass]="{'is-invalid' : createForm.get('mcc_code')?.invalid && createForm.get('mcc_code')?.touched}"
                        (change)="BMCDropDown($event)">
                        <option value="" selected>Select MCC</option>
                        <option *ngFor="let text of this.mccDropDown" [ngValue]="text.value">
                            {{text.text}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Please select mcc name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="bmc_code" class="mt-2 wd-10 required">Select BMC</label>
                    <select class="form-dropdown mt-2" formControlName="bmc_code"
                        [ngClass]="{'is-invalid' : createForm.get('bmc_code')?.invalid && createForm.get('bmc_code')?.touched}"
                        (change)="MPPDropDown($event)">
                        <option value="" selected>Select BMC</option>
                        <option *ngFor="let text of this.bmcDropDown" [ngValue]="text.value">
                            {{text.text}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Please select bmc name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="mpp_code" class="mt-2 wd-10 required">Select MPP</label>
                    <select class="form-dropdown mt-2" formControlName="mpp_code"
                        [ngClass]="{'is-invalid' : createForm.get('mpp_code')?.invalid && createForm.get('mpp_code')?.touched}">
                        <option value="" selected>Select MPP</option>
                        <option *ngFor="let text of this.mppDropDown" [ngValue]="text.value">
                            {{text.text}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Please select mpp name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="sahayak_code" class="mt-2 required">Sahayak Code</label>
                    <input type="text" class="form-control form-control-sm mt-2" formControlName="sahayak_code"
                        id="sahayak_code"
                        [ngClass]="{'is-invalid' : createForm.get('sahayak_code')?.errors && createForm.get('sahayak_code')?.touched}"
                        placeholder="Sahayak Code">
                    <div class="invalid-feedback">Please enter a sahayak code.</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="sahayak_name" class="mt-2 required">Sahayak Name</label>
                    <input type="text" class="form-control form-control-sm mt-2" formControlName="sahayak_name"
                        id="sahayak_name"
                        [ngClass]="{'is-invalid' : createForm.get('sahayak_name')?.errors && createForm.get('sahayak_name')?.touched}"
                        placeholder="Sahayak Name">
                    <div class="invalid-feedback">Please enter a sahayak name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="mobile_no" class="mt-2 required">Mobile Number</label>
                    <input type="text" class="form-control form-control-sm mt-2" formControlName="mobile_no"
                        id="mobile_no"
                        [ngClass]="{'is-invalid' : createForm.get('mobile_no')?.errors && createForm.get('mobile_no')?.touched}"
                        placeholder="Mobile No">
                    <div class="invalid-feedback">Please enter a mobile number.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="agreement_start_date" class="mt-2">Agreement Start Date</label>
                    <input type="text" class="form-control form-control-sm mt-2" id="agreement_start_date" formControlName="agreement_start_date"
                        placeholder="DD/MM/YYYY" bsDatepicker [bsConfig]="datePickerConfig">
                </div>
                <div class="form-group col-sm-1 col-md-2col-ld-2 col-xl-2">
                    <label for="agreement_end_date" class="mt-2">Agreement End Date</label>
                    <input type="text" class="form-control form-control-sm mt-2" id="agreement_end_date" formControlName="agreement_end_date"
                        placeholder="DD/MM/YYYY" bsDatepicker [bsConfig]="datePickerConfig">
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="security_deposit_amount" class="mt-2">Security Deposit Amt</label>
                    <input type="text" class="form-control form-control-sm mt-2" formControlName="security_deposit_amount"
                        id="security_deposit_amount">
                </div>
                <div class="form-check pl-3 mt-5 col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <input class="form-check-input" formControlName="is_member" type="checkbox" value="true"
                        id="is_member">
                    <label class="form-check-label" for="is_member">
                        Is Member
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-6 col-ld-4 col-xl-3">
                    <button type="submit" class="btn btn_form mt-5" [disabled]="!createForm.valid">Submit</button>
                    <button type="reset" class="btn btn_form mt-5 btn_margin_left_10px">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>