<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style=" background-color: lightblue;">
            Route Master
            <a href="javascript:void()"  [routerLink]="['/entity/route']" ><i class="fa fa-plus" style="float: right;margin: 3px;font-size: larger;"> </i></a>
           <a href="javascript:void()"  [routerLink]="['/entity/route/route-list']" ><i class="fa fa-search" style=" float: right;margin: 3px;font-size: larger;"> </i></a>  
        </div>
        <form [formGroup]="createForm" (ngSubmit)="Create()">
            <div class="row">
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="company_code" class="mt-2 wd-10 required">Select Company</label>
                        <select class="form-dropdown mt-2" (change)="PlantDropDown()" disabled>
                            <!-- <option value="" selected>Select Company</option> -->
                            <option *ngFor="let text of this.companyDropDown" [ngValue]="text.value" selected>
                                {{text.text}}
                            </option>
                        </select>
                        <!-- <select class="form-dropdown mt-2" formControlName="company_code"
                        [ngClass]="{'is-invalid' : createForm.get('company_code')?.invalid && createForm.get('company_code')?.touched}"
                        (change)="PlantDropDown()" >
                            <option value="" selected>Select Company</option>
                            <option *ngFor="let text of this.companyDropDown" [ngValue]="text.value">
                                {{text.text}}
                            </option>
                        </select> -->
                        <div class="invalid-feedback">Please select company name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="plant_code" class="mt-2 wd-10 required">Select Plant</label>
                        <select class="form-dropdown mt-2" (change)="MCCDropDown()" disabled>
                            <!-- <option value="" selected>Select Plant</option> -->
                            <option *ngFor="let text of this.plantDropDown" [ngValue]="text.value" selected>
                                {{text.text}}
                            </option>
                        </select>
                        <!-- <select class="form-dropdown mt-2" formControlName="plant_code"
                        [ngClass]="{'is-invalid' : createForm.get('plant_code')?.invalid && createForm.get('plant_code')?.touched}"
                        (change)="MCCDropDown()">
                            <option value="" selected>Select Plant</option>
                            <option *ngFor="let text of this.plantDropDown" [ngValue]="text.value">
                                {{text.text}}
                            </option>
                        </select> -->
                        <div class="invalid-feedback">Please select plant name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="mcc_code" class="mt-2 wd-10 required">Select MCC</label>
                        <select class="form-dropdown mt-2" formControlName="mcc_code"
                        [ngClass]="{'is-invalid' : createForm.get('mcc_code')?.invalid && createForm.get('mcc_code')?.touched}"
                        (change)="BMCDropDown($event)">
                            <option value="" selected>Select MCC</option>
                            <option *ngFor="let text of this.mccDropDown" [ngValue]="text.value">
                                {{text.text}}
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select mcc name.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="bmc_code" class="mt-2 wd-10 required">Select BMC</label>
                        <select class="form-dropdown mt-2" formControlName="bmc_code"
                        [ngClass]="{'is-invalid' : createForm.get('bmc_code')?.invalid && createForm.get('bmc_code')?.touched}">
                            <option value="" selected>Select BMC</option>
                            <option *ngFor="let text of this.bmcDropDown" [ngValue]="text.value">
                                {{text.text}}
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select bmc name.</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="route_code" class="mt-2 required">Route Code</label>
                    <input type="text" class="form-control form-control-sm mt-2" formControlName="route_code" id="route_code"
                        [ngClass]="{'is-invalid' : createForm.get('route_code')?.errors && createForm.get('route_code')?.touched}"
                        placeholder="Route Code">
                    <div class="invalid-feedback">Please enter a route code.</div>
                </div>
                <div class="form-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="route_name" class="mt-2 required">Route Name</label>
                    <input type="text" class="form-control form-control-sm mt-2" formControlName="route_name" id="route_name"
                        [ngClass]="{'is-invalid' : createForm.get('route_name')?.errors && createForm.get('route_name')?.touched}"
                        placeholder="Route Name">
                    <div class="invalid-feedback">Please enter a route name.</div>
                </div>
                <div class="form-check pl-3 mt-5 col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <input class="form-check-input" formControlName="is_active" type="checkbox" value="true" id="is_active">
                    <label class="form-check-label" for="is_active">
                      Is Active
                    </label>
                  </div>
                <div class="form-group col-sm-1 col-md-6">
                    <label for="address">Route Address</label>
                    <textarea class="form-control form-control-sm" id="address" rows="3"
                    formControlName="address"
                    ></textarea>
                  </div>
                  
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-6 col-ld-4 col-xl-3">
                    <button type="submit" class="btn btn_form mt-5" [disabled]="!createForm.valid">Submit</button>
                    <button type="reset" class="btn btn_form mt-5 btn_margin_left_10px">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>