<div class="login-box">
  <div class="row">
      <div class="col-md-9">
          <div class="logo">
              <img src="assets/img/vaikom_logo.png" alt="logo">
          </div>
          <div class="bg_img">

          </div>
      </div>
      <div class="col-md-3">
          <div class="form-box">
              <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
                  <div class="heading">
                      <span>FORGOT PASSWORD?</span>
                      <br><br><br>
                  </div>
                  <div class="user_name">
                      <input class="form-control" formControlName="mobile_no" name="mobile_no" id="txt_mobile_no" placeholder="Enter Mobile Number">
                      <div *ngIf="forgetPasswordForm.get('mobile_no')?.hasError('required') && forgetPasswordForm.get('mobile_no')?.touched"
                          class="text-danger error-msg">
                          Mobile is required.
                      </div>
                  </div>
                  <br>
                  <div class="user_name">
                      <input class="form-control" formControlName="new_password" name="new_passworde" id="txt_new_password" placeholder="New Password">
                      <div *ngIf="forgetPasswordForm.get('new_password')?.hasError('required') && forgetPasswordForm.get('new_password')?.touched"
                          class="text-danger error-msg">
                         Enter New Password.
                      </div>
                  </div>
                  <br>
                  <div class="pass">
                      <input class="form-control" type="password" formControlName="confirm_password" name="confirm_password" id="txt_confirm_password" placeholder="Confirm Password">
                      <div *ngIf="forgetPasswordForm.get('confirm_password')?.hasError('required') && forgetPasswordForm.get('confirm_password')?.touched"
                          class="text-danger error-msg">
                         Re-Enter password.
                      </div>
                  </div>
                  <br>
                  <button type="button" class="btn" id="login_btn" [disabled]="forgetPasswordForm.invalid" (click)="forgetPassword()">Save Password</button>
              </form>
              <!-- <a  [routerLink]="['/forgot/password']">Forgot Password</a> -->
              <br><br>
              <a [routerLink]="['/login']" >Back to Login</a>
              <br><br><br>
              <div class="footer">
                  <span>All Rights Reserved</span>
                  <br>
                  <a href="javascript:void(0)">© 2023 Vaikom TechSolution.</a>
                  <br>
                  <p>follow us on
                      <span>
                          <a href="javascript:void(0)"> <i class="bi bi-facebook"></i> </a> &nbsp;
                          <a href="javascript:void(0)"> <i class="bi bi-linkedin"></i> </a>&nbsp;
                          <a href="javascript:void(0)"> <i class="bi bi-instagram"></i> </a>
                      </span>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>