/* Define custom styles for the modal */
.custom-modal {
    width: 90%; /* Adjust the width to your preference */
    top: 10%; /* Adjust the vertical position to your preference */
    /* left: 5%; Adjust the horizontal position to your preference */
    transform: none; /* Reset any transformation to center the modal properly */
  }
  
  .logo {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 25vh;
    background-color: #b8bade;
}

.logo img {
    max-height: 18vh; 
    max-width: 100%; 
}
.bg_img{
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e6ebf5;
    height: 73vh;
    width: 100%;
}
/* .bg_img img{
    height: 73vh;
    width: 100%;
} */
.form-box{
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
}
.heading{
    font-weight: 500;
    font-size: larger;
}
.form-control{
    width: 100%;
}
#login_btn{
    width: 150px;
    background-color: #5a85c8;
    color: #fff;
}
a{
    font-weight: 500;
}
.error-msg{
width: 100%;
font-weight: 600;
}