<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style=" background-color: lightblue;">
            Change Password : {{this.user_name}}
        </div>
        <form [formGroup]="createForm" (ngSubmit)="ChangePassowrd()">
            <div class="row">
                <div class="orm-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="old_password" class="mt-2 required">Old Password</label>
                    <input type="password"
                        [ngClass]="{'is-invalid' : createForm.get('old_password')?.errors && createForm.get('old_password')?.touched}"
                        class="form-control form-control-sm mt-2" formControlName="old_password" id="old_password" placeholder="Old Password">
                    <div class="invalid-feedback">Please enter a old password.</div>
                </div>
                <div class="orm-group col-sm-1 col-md-2 col-ld-2 col-xl-2">
                    <label for="password" class="mt-2 required">New Password</label>
                    <input type="password"
                        [ngClass]="{'is-invalid' : createForm.get('password')?.errors && createForm.get('password')?.touched}"
                        class="form-control form-control-sm mt-2" formControlName="password" id="password" placeholder="Password">
                    <div class="invalid-feedback">Please enter a new password.</div>
                </div>
                <div class="orm-group col-sm-1 col-md-3 col-ld-3 col-xl-3">
                    <label for="confirm_password" class="mt-2 required">Re-enter your New Password</label>
                    <input type="password"
                        [ngClass]="{'is-invalid' : createForm.get('confirm_password')?.errors && createForm.get('confirm_password')?.touched}"
                        class="form-control form-control-sm mt-2" formControlName="confirm_password" id="confirm_password" placeholder="Confirm Password">
                    <div class="invalid-feedback">Please enter a confirm password.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-6 col-ld-4 col-xl-3">
                    <button type="submit" class="btn btn_form mt-5" [disabled]="!createForm.valid">Submit</button>
                    <button type="reset" class="btn btn_form mt-5 btn_margin_left_10px">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
